*{margin: 0;
padding: 0;
box-sizing: border-box;}


.header {height: 80px;
position: fixed;
z-index: 1;
width: 100%;
border-bottom: 1px solid gray;
box-shadow: 2px 4px gray;
font-size: 30px;}

.header>p,.fa-solid.fa-bars {padding: 15px;}

.container {font-size: 25px;}

img{width: 100%;
}

.offcanvas-body {font-size: 40px;}


.offcanvas-body p{ padding: 40px;}

.footer-child,.popular,.about {padding-bottom: 40px;
border-bottom: 1px solid grey;}

.offcanvas-body p:hover {background-color: aqua;}




.card-body p,h4 {text-align: center;}

.pagination  {margin: 50px auto;
width: 200px;}



.blog img {width: 30%;
float: left;}

.blog p {float: left;
margin-left: 10px ;}

.lorem,.ipsum {border-bottom: 1px solid gray;
padding:30px}

.lorem:hover,.ipsum:hover {background-color: black;
color: white;}

a {text-decoration: none;
color: black;
padding: 2px 10px;
margin: 30px 5px;}

h4,h5,h3 {padding: 30px;}

.about h3 {text-transform: capitalize;}


h5 {text-transform: capitalize;}